@import url(reset.css);
@import url(globals.css);

@font-face { font-family:appleL; src:url('../font/AppleSDGothicNeoL.ttf'); }
@font-face { font-family:appleM; src:url('../font/AppleSDGothicNeoM.ttf'); }
@font-face { font-family:appleB; src:url('../font/AppleSDGothicNeoB.ttf'); }


/* common */
body { width:100%; font-size:14px; font-family:appleM; line-height:1; }
a { text-decoration:none; color:#222; }

/* main.css */
/* layout */
body>header { z-index:10; position:fixed; top:0; width:100%; box-sizing:border-box; padding:5px 10px 15px; background-color:#523737; }
    body>header>.header_T { display:flex; justify-content:space-between; align-items:center; font-size:12px; margin-bottom:15px; }
    body>header>.header_B { display:flex; justify-content:center; align-items:baseline; margin:0 10px; font-size:16px; }
main { padding-top:64px; background-color:#fff; }
    main> .search-bar { position:relative; padding:15px 25px; }
    main> section {  }
nav { position:fixed; bottom:0; width:100%; padding:10px 35px 5px; box-sizing:border-box; border-top:solid 1px #c1c1c1; background-color:#f7f7f7; }


/* header */
body>header i { color:#fff; }
body>header span { color:#fff; }

.header_T>ul { display:flex; flex:1; }
.header_T>ul li { margin-right:4px; }
.header_T>ul li>span { margin-right:3px; }
.header_T>ul li:last-of-type { margin-right:0; }
.header_T>span { flex:1; text-align:center; }
.header_T>ul:last-of-type { justify-content:flex-end; }

.header_B>span { flex:1; }
.header_B>span:first-of-type { opacity:.5; }
.header_B>span:last-of-type { flex:1; display:flex; flex-direction:row; height:16px; justify-content:center; }
.header_B>span>i { margin-left:5px; line-height:7px; }
.header_B>i { flex:1; }


/* main */
/* search-bar */
main .search-bar>i { position:absolute; top:50%; margin-top:-7px; left:40px; color:#bbb; }
main .search-bar>input { width:calc(100% - 14px); padding:5px 7px; border:0; border-radius:5px; background-color:#f1f2f3; text-align:center; }

/* section */
section ul li { padding:15px; border-bottom:solid 1px #ebebeb; }
section ul li:first-of-type { border-top:solid 1px #ebebeb; }

section ul li>a { display:flex; justify-content:space-between;  }
section ul li .txt { display:flex; }

section ul li img { width:50px; border-radius:50%; margin-right:15px; vertical-align:middle; }
section ul li .friend_chat h3 { margin-bottom:5px; font-family:appleB; font-weight:normal; font-size:16px; }
section ul li .friend_chat p { font-size:11px; color:#b4b4b4; }
section ul li em { font-size:10px; font-style:normal; color:#b4b4b4; }


/* nav */
nav ul { display:flex; justify-content:space-between; }
nav ul li { align-items:center;}
nav ul li a { display:flex; flex-direction:column; align-items:center; font-size:24px; color:#c1c1c1; transition:all 0.4s ease 0s; }
nav ul li:hover a { transform:scale(1.1); color:#c1c1c1; }
nav ul li.on a { color:#523737; }
nav ul li.on:hover a { color:#523737; }
nav ul li a i { margin-bottom:5px; }
nav ul li a span { font-size:10px; }


/* chat_btn */
.chat_btn { position:fixed; bottom:80px; right:20px; display:flex; justify-content:center; align-items:center; width:60px; height:60px; border-radius:50%; background-color:#ffe94a; box-shadow:0 3px 10px rgba(0,0,0,.2); transition:background 0.4s ease 0s; }
.chat_btn:hover { background-color:#523737; }
.chat_btn i { color:#523737; font-size:20px; transition:color 0.4s ease 0s; }
.chat_btn:hover i { color:#fff; }

/* bigsereenText */
.bigsereenText { display:none; }

@media (min-width:530px) { /* μ¤λ§νΈν° ~767*/
    .bigsereenText { z-index:30; position:fixed; display:flex; justify-content: center; left:0; top:0; align-items:center; width:100%; height:100%; background-color:#ffe94a; }
    .bigsereenText span { font-family:appleB; font-size:30px; color:#fff; }
}
