@import url(reset.css);
@import url(globals.css);

@font-face { font-family:appleL; src:url('../font/AppleSDGothicNeoL.ttf'); }
@font-face { font-family:appleM; src:url('../font/AppleSDGothicNeoM.ttf'); }
@font-face { font-family:appleB; src:url('../font/AppleSDGothicNeoB.ttf'); }


/* common */
body { width:100%; font-size:14px; font-family:appleM; line-height:1; }
a { text-decoration:none; color:#222; }

/* main.css */
/* layout */
body>header { z-index:10; position:fixed; top:0; width:100%; box-sizing:border-box; padding:5px 10px 15px; background-color:#523737; }
    body>header>.header_T { display:flex; justify-content:space-between; align-items:center; font-size:12px; margin-bottom:15px; }
    body>header>.header_B { display:flex; justify-content:space-between; align-items:center; margin:0 10px; font-size:16px; }
main { padding-top:64px; background-color:#f2f2f2;; }
    main> header { display:flex; justify-content:space-between; align-items:center; background-color:#fff; padding:15px; margin-bottom:10px; }
    main> section { background-color:#fff; margin-bottom:10px; }
    main> section:last-of-type { margin-bottom:0; }
nav { position:fixed; bottom:0; width:100%; padding:10px 35px 5px; box-sizing:border-box; border-top:solid 1px #c1c1c1; background-color:#f7f7f7; }


/* header */
body>header i { color:#fff; }
body>header span { color:#fff; }

.header_T>ul { display:flex; flex:1; }
.header_T>ul li { margin-right:4px; }
.header_T>ul li>span { margin-right:3px; }
.header_T>ul li:last-of-type { margin-right:0; }
.header_T>span { flex:1; text-align:center; }
.header_T>ul:last-of-type { justify-content:flex-end; }

.header_B>span { flex:1; }
.header_B>span:first-of-type { opacity:.5; }
.header_B>span:last-of-type { flex:1; text-align:center; }
.header_B>i { flex:1; text-align:right; }


/* main */
/* header */
main>header .profile { display:flex; align-items:center; }
main>header .profile img { width:50px; margin-right:20px; border-radius:50%; }
main>header .profile dl {  }
main>header .profile dl dt { margin-bottom:5px; font-size:16px; font-family:AppleB;}
main>header .profile dl dd { font-size:12px; color:#b4b4b4; }
main>header i { font-size:2em; color:#523737; }

/* section1 */
section:nth-of-type(1) ul { display:flex; justify-content:space-between; }
section:nth-of-type(1) ul li { flex:1; padding:15px; text-align:center; }
section:nth-of-type(1) ul a { display:flex; flex-direction:column;  color:#523737; }
section:nth-of-type(1) ul a i { font-size:2em; margin-bottom:10px;}
section:nth-of-type(1) ul a span { font-size:12px; }

/* section2 */
section:nth-of-type(2) { padding:20px; }
section:nth-of-type(2) header { display:flex; align-items:center; justify-content:space-between; margin-bottom:30px; font-size:16px; }
section:nth-of-type(2) header h2 { font-weight:normal; }
section:nth-of-type(2) header span { color:#b4b4b4; }
section:nth-of-type(2) header span i { margin-right:4px; font-size:100%; color:#b4b4b4; }
section:nth-of-type(2) ul { display:flex; flex-wrap:wrap; }
section:nth-of-type(2) ul li { display:inline-block; width:50%; margin-bottom:30px; }
section:nth-of-type(2) ul li a i { margin-right:20px; }
section:nth-of-type(2) ul li a span { font-size:13px; }

/* section3 */
section:nth-of-type(3) { padding:20px; }
section:nth-of-type(3) ul { display:flex; }
section:nth-of-type(3) ul li { display:flex; flex-direction:column; align-items:center; margin-right:20px; }
section:nth-of-type(3) ul li img { height:45px; margin-bottom:10px; }
section:nth-of-type(3) ul li span { font-size:12px; }



/* nav */
nav ul { display:flex; justify-content:space-between; }
nav ul li { align-items:center;}
nav ul li a { display:flex; flex-direction:column; align-items:center; font-size:24px; color:#c1c1c1; transition:all 0.4s ease 0s; }
nav ul li:hover a { transform:scale(1.1); color:#c1c1c1; }
nav ul li.on a { color:#523737; }
nav ul li.on:hover a { color:#523737; }

nav ul li a i { margin-bottom:5px; }
nav ul li a span { font-size:10px; }


/* bigsereenText */
.bigsereenText { display:none; }

@media (min-width:530px) { /* μ¤λ§νΈν° ~767*/
    .bigsereenText { z-index:30; position:fixed; display:flex; justify-content: center; left:0; top:0; align-items:center; width:100%; height:100%; background-color:#ffe94a; }
    .bigsereenText span { font-family:appleB; font-size:30px; color:#fff; }
}
